body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container {
    padding: 50px;
}

h2 {
    color: #007bff;
}

.card {
    margin: 20px 0;
}

.card-body {
    padding: 20px;
    background-color: #f8f9fa;
}

.card-title {
    font-size: 1.2em;
    color: #007bff;
}

.card-text {
    font-size: 1em;
}

.text-center {
    text-align: center;
}

.text-primary {
    color: #007bff;
}

.shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}